.mainApp{
  
}
.mainApp-nav{
  min-width: min-content;
  padding: 4px 0;
  background-color: #fd9;
  border: 2px #ec8 solid;
  display: flex; justify-content: center;
}
.mainApp-nav > a{
  width: 80px; height: 60px;
  margin: 0 4px !important;
  white-space: nowrap;
}
.mainApp-nav > a:hover{
  background-color: #fff4;
}
.mainApp-nav-selected{
  background-color: #fec !important;
}
.mainApp-main{
  margin: 10px; padding: 8px;
  background-color: #fffc; backdrop-filter: blur(20px);
  border-radius: 6px; box-shadow: 0 0 8px #0006;
  font-size: 16px;
}